# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/

# OS/editor temp files
.DS_Store
*~
.~lock.*
*.swp
*.swo

# Large/raw ROS data
*.bag
*.db3
*.mcap
*.mcap.zstd
*.zstd

# Do not redistribute papers/templates
*.pdf
*.docx

# Local raw/large folders
RUNS/
tarde/
waypoints/
gt_from_bag_outputs/
